# Stabile Basis für Transformer-Modelle
torch
transformers
accelerate
einops
timm

# FastAPI Server
fastapi==0.142.2
uvicorn[standard]==0.54.0

# Hilfsbibliotheken
requests==2.34.2
pillow
python-dotenv==1.2.4
sentencepiece

# Auth / JWT
authlib==1.8.0
python-jose[cryptography]==3.5.0
